# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3013"

# Database PostgreSQL (Docker)
POSTGRES_DB=cliniflow_pep
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5315
DATABASE_URL=postgresql://postgres:postgres@localhost:5315/cliniflow_pep
